<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../css/login-v2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FaceUFF</title>
</head>
<body>
    <div class="container cabecalho">
        <div class="container formularioLogin">
           <form class="form-inline" method = "post" role="form">
               <div class="form-group">
                   <label class="control-label" for="email">Email: </label>
                   <input type="email" class="form-control" name="email">
                   <label class="control-label" for="senha">Senha: </label>
                   <input type="password" class="form-control" name="senha">
                   <input type="checkbox" class="form-control" name="lembrar">Lembre-se de mim
                   <button type="submit" class="btn btn-default">Entrar</button>
               </div>
           </form>
        </div>
        <div class="container">
            <ul>
                <li><a href="criarConta-v2.html">Criar uma conta</a></li>
                <li><a href="recuperarSenha.html">Esqueceu sua senha?</a> </li>
            </ul>
        </div>
    </div>
    <div class="container logo">
        <text>FaceUFF</text>
        <img src="../img/uff3.png" alt="FaceUFF logo">
    </div>
</body>
</html>