<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../css/perfil_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil</title>
</head>
<body>
    <div class="container perfil">
        <div class="container foto">
            <img src="">
        </div>
        <div class="container informacoes">
            <ul>
                <li>Nome: </li>
                <li>{{nome}}</li><br>
                <li>Idade: </li>
                <li>{{idade}}</li><br>
                <li>Curso:</li>
                <li>{{curso}}</li><br>
            </ul>
        </div>
    </div>
    <div class="btn-group botoesPosicao">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> <a href="editarPerfil-v2.html"> Editar Perfil</a></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-off"></span> <a href="login-v2.html">Sair</a></button>
    </div>
    <div class="container logo">
        <text>FaceUFF</text>
        <img src="../img/uff3.png" alt="FaceUFF logo">
    </div>

</body>
</html>