body{
    font-family: "lucida grande", sans-serif;
    background-color: #343447;
    color: white;
}

.cabecalho {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: 0px;
    width: inherit;
    height: 80px;
    background-color: #686868 ;
    color: white;
}

.logo{
    position: relative;
    top: 200px;
    height: 200px;
    width: 700px;
    horiz-align: center;
    //background-color: white;
}

.formularioLogin{
    position: absolute;
    top: 20px;
    left: 10px;
}

li{
    font-size: 18px;
    display: inline;
    padding: .5em;
}
 ul{
     position: absolute;
     top: 30px;
     right: 20px;
 }

 a{
     color: white;
 }

 a:hover{
    text-decoration: underline;
    color: #ffffff;
 }

 .logo text{
    position: absolute;
    font-size: 100px;
    top: -10px;
    left: 80px;
}

.logo img {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -25px;
    right: 40px;
}